.form-label {
    font-weight: bold;
}

html,
body {
    height: 100%;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


div#firmware_update_available h1 {
    font-size: 1.4rem;
}

div#firmware_update_available h2 {
    font-size: 1.0rem;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}

#mqtt_cert,
#server_key,
#server_cert {
    height: 150px;
}

.logo {
    color-scheme: light;
    /* Prevents dark-mode auto inversion */
    forced-color-adjust: none;
    /* Safari/iOS: don't touch my colors */
}

#configurationTextarea.is-drop-target {
    outline: 2px dashed var(--bs-primary);
    background: rgba(13, 110, 253, .06);
    /* bootstrap primary tint */
}

table.ministats {
    width: auto;
    margin-bottom: 0px;
}

table.ministats tbody tr:last-child th,
table.ministats tbody tr:last-child td {
    border-bottom: none;
}

.scrollFix {
    scroll-margin-top: 4.5rem;
}

hr.bold {
    border: 0;
    border-top: 2px solid currentColor;
}

#debug_log_text {
    width: 100%;
    height: 300px;
    font-family: 'Fira Code', 'Courier New', monospace;
    font-size: 12px;
}